<html>
	<head>
		<script src="./js/jquery-3.1.1.min.js"></script>
		<script src="../socket.io/socket.io.js"></script>
		<script src="./js/three.min.js"></script>
		<script src="./js/OrbitControls.js"></script>
		<script src="./js/cclick_event.js"></script>
		<script src="./js/receive.js"></script>
		<style>
			body{
				padding:0px;
				margin:0px;
				position:relative;
			}
		
			canvas{
				position:absolute;
			}

			#textBox{
				position:absolute;
				right:0;
				bottom:0;
				color:#fff;
				z-index:1;
				letter-spacing:10px;
				font-size:24px;
				/*font-family: Impact,Charcoal;*/
			}

			#userInfo{
				position:absolute;
				left:0;
				top:0;
				color:#fff;
				height:100%;
				z-index:1;
				letter-spacing:10px;
				font-size:24px;
				/*font-family: Impact,Charcoal;*/
			}

			#textBox p{
				margin: 20px;
			}

			#title{
				position:absolute;
				width:100%;
				text-align:center;
				top:0px;
				letter-spacing:10px;
				font-size:24px;
				z-index:1;
				color:#fff;
			}

		</style>
	</head>

	<body>
		<!--<canvas id="canvas" width="1280" height="940"></canvas>-->
		<div id="userInfo"></div>
		<div id="textBox">
		</div>
	</body>
</html>
