<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
		<script>
		</script>
		<script src="./js/jquery-3.1.1.min.js"></script>
		<script src="../socket.io/socket.io.js"></script>
		<script src="./js/three.min.js"></script>
		<script src="./js/DeviceOrientationControls.js"></script>
		<script src="./js/OrbitControls.js"></script>
		<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
		<script src="./js/cclick_event.js"></script>
		<script src="./js/terminal.js"></script>
		<style>
			body{
				padding:0px;
				margin:0px;
				position:relative;
			}
		
			canvas{
				position:absolute;
				width:100%;
				height:100%;
			}

			#textBox{
				position:absolute;
				right:0;
				bottom:0;
				color:#fff;
				height:100%;
				z-index:1;
				letter-spacing:10px;
				font-size:24px;
				/*font-family: Impact,Charcoal;*/
			}

			#userInfo{
				position:absolute;
				left:0;
				top:0;
				color:#fff;
				height:100%;
				z-index:1;
				letter-spacing:10px;
				font-size:24px;
				/*font-family: Impact,Charcoal;*/
			}

			#textBox p{
				margin: 20px;
			}

			#title{
				position:absolute;
				width:100%;
				text-align:center;
				top:0px;
				letter-spacing:10px;
				font-size:24px;
				z-index:1;
				color:#fff;
			}

			video{
				position:absolute;
				z-index:1;
				width:100%;
				height:100%;
				opacity:0;
			}

			ul{
				list-style-type:none;
				height:100%;
				width:100%;
				margin:0px;
				padding:0px;
				overflow:auto;
			}

		</style>
	</head>

	<body>
		<!--<canvas id="canvas" width="1280" height="940"></canvas>-->
		<video id="video" preload="auto" loop></video>
		<div id="title"><p>Solaris</p></div>
		<div id="userInfo"></div>
		<div id="textBox">
			<ul id="user_list"></li>
		</div>
	</body>
</html>
